
.form-group {
    margin-bottom: 0px;
}
.input-form{
    margin-bottom: 25px;
}

.help-block{
    font-size: 12px;
    color: #f49006;
    margin-bottom: 25px;
}
.sign-login{
    text-align: center;
}

