.help-block{
    color: red !important;
}
.has-my-error{
    color: red !important;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25) url(../images/loader.gif) no-repeat center center;
    background-size: 200px 200px;
    z-index: 10000;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #e89e1c !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {

    font-size: 14px !important;
}
