
.form-group {
    margin-bottom: 0px;
}
.input-form{
    margin-bottom: 25px;
}

.help-block{
    font-size: 12px;
    color: #f49006;
    margin-bottom: 25px;
}
.sign-login{
    text-align: center;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25) url(../images/loader.gif) no-repeat center center;
    background-size: 200px 200px;
    z-index: 10000;
}

.my-btn{
    box-shadow: 0 3px #3e51b5, 0 5px #3e51b5, 0 0 #3e51b5;
}

